/*General*/

:root
{--primary-color: #B47B48;
    --secondary-color: #C85312;
--text-color: #FFFFFF;
--secondary-text-color:#D9D9D9;
--background-color: #202023;}

html
{width: 1335px;
height: 4280px;}

body
{color: var(--text-color);
    background-color: var(--background-color);
    font-style: normal;
    font-family: 'Inter'; 
width: 1335px;
margin: 0px;}

section
{margin: 0px;}

ol > li
{list-style: inherit;}

    a,
    li,
    p,
    ul
    {text-decoration: none;
    list-style: none;}

    a
    {color: var(--text-color)}

    /* h2:nth-child(1) ,
    h2:nth-child(2) {
    font-size: 64px;
    line-height: 77px;
    text-align: center;
    font-weight: 400;
    font-family: 'Italiana';
} */

/*Header*/

header
{background-image: url(./image/background/bg.png);
    width: 1335px;
    height: 1025px;}

nav
{font-weight: 140;
    font-size: 24px;
    line-height: 29px;
    margin-top: 50px;
    margin-left: 85px;}

    nav ul 
    {padding: 0px;
        margin: 0px;
    display: inline-flex;
    justify-content: space-between;
    flex-direction: row;
 width: 558px;}

.h1-cont
{text-align: left;
    padding-left: 100px;
width: 570px;
height: 500px;}

h1 {
    font-weight: 200;
    font-size: 70px;
    line-height: 85px;
    width: 600px;
}


text {
    font-weight: 300;
    font-size: 21px;
    line-height: 25px;
    width: 570px;
    height: 200px;
    margin: 11px;
}


.h1-button {
    background-color: var(--primary-color);
    color: var(--text-color);
    text-align: center;
    margin-top: 22px;
    padding: 0px;
    border-radius: 17px;
    width: 207px;
    height: 57px;
    font-size: 24px;
    font-weight: 300;
    line-height: 29px;
    border: none;
}


.sam-list {
    display: flex;
    justify-content: space-around; 
    margin-top: 185px;
}


.sam-item {
    background-color: var(--background-color);
    display: flex;
    justify-content: space-between;
    width: 310px;
    height: 225px;
}


.sam-item:nth-child(n+3) {
    background:linear-gradient(81.4deg, #000000 -110.34%, rgba(0, 0, 0, 0) 80.32%) ,
    url(./image/head-section/head2.png) ;     
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: left;
    background-size: 235px 225px;
    background-color: #EBAD51;
}


#sam-cont1 {
    margin-top: 7px;
    margin-right: 5px;
}


 #sam-cont3 {
    padding-left: 210px;
}


.price {
    font-family: Inter;
    font-size: 24px;
    font-weight: 200;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
}


.name {font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
}


    .sam-button {
    background-color: var(--secondary-color);
    border: none;
    width: 79px;
    height: 34px;
    text-transform: uppercase;
    color: var(--text-color);
    font-size: 16px;
    font-weight: 900;
    line-height: 19px;
    /* text-align:center; */
}


.sam-cookie {
    width: 150px;
    height:225px;
}


.sam-croissan {
    width: 225px;
    height: 213px;
} 


 /* .sam-pie
  {width: 193px;
    height: 193px;} */

/*Menu*/

.menu {
    width: 1335px;
    height: 775px;
    display: block;
    background-color: var(--background-color);
}


.m-title {
    margin: 0px;
    font-size: 64px;
    line-height: 77px;
    text-align: center;
    font-weight: 400;
    /* display: block;     */
}


.m-cont {
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 1010px;
}


.m-list { 
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    /* padding-left: 110px;
    padding-right: 110px; */
}


.m-item {
    border: 1px solid #FFFFFF;
    /* margin-left: 150px;
    position: inherit; */
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: end;
    margin-bottom: 75px;
}


.m-item:nth-child(odd) {
    margin-right: 198px;
}


.m-item:nth-child(-n+2) {
    margin-bottom: 64px;
}
    

.m-item:nth-child(-n+3) {
    width: 328px;
    height: 229px;
}


.m-item:nth-child(n+3) {
    width: 328px;
    height: 254px;
}


    .m-button {
    background-color: var(--primary-color);
    color: var(--text-color);
    border: none;
    border-radius: 17px;
    width: 160px;
    height: 41px;
    font-size: 26px;
    font-weight: 800;
    line-height: 31px;
}

/*Quality*/

.quality
{    width: 1335px;
    height: 850px;
    background-color: var(--background-color);}


.quality h2 {
    font-size: 64px;
    line-height: 77px;
    text-align: center;
    font-weight: 400;
    font-family: 'Italiana';
}


    .q-list
    {display: flex;
    flex-direction: row;}

    .o-list
    {background: #F2F2F24D;
        width: 292px;
height: 198px;}


/*Artisax*/

.artisax
{    width: 1335px;
    height: 580px;
    background-image: linear-gradient(89.59deg, #000000 8.49%, rgba(3, 3, 3, 0) 77.17%) ,
url(./image/background/bg1.png);
}

.artisax > h2
{color: var(--secondary-text-color);
    /* width: 735px;
    height: 114px; */
margin-top: 0px;
margin-bottom: 0px;
margin-left: 100px; 
 display: inline-flex;
text-align: left;}

    h2
    {font-size: 48px;
        font-family: 'Italiana';
        font-weight: 400;
        line-height: 57px;
        /* letter-spacing: 0em;
        text-align: left; */}

.a-list
    {display: flex;
    flex-direction: row;
margin-top: 156px;}

.artisax > img
{width: 218px;
height: 183px;}

/* .artisax > img:nth-child(2)
{width: 218px;
    height: 183px;} */

/* #a1
{width: 218px;
    height: }

#a2
{width: 218px;
    height: }

#a3
{width: 218px;
    height: } */

    .a-item
    {margin-left: 165px;
        width: 218px;
        height: 275px;}

    .a-text
    {font-family: Inter;
        font-size: 24px;
        font-weight: 700;
        line-height: 29px;
        letter-spacing: 0em;
        text-align: center;
    margin-bottom: 50px;
margin-top: 0px;}

/*Where*/

.where
{    width: 1335px;
    height: 705px;
    background-color: var(--background-color);}

    .where > h2 {
    margin-top: 50px;
    margin-bottom: 35px;
    margin-left: 138px;
    height: 70px;
    display: inline-flex;
}


    .where h3 {
    font-size: 40px;
    font-weight: 400;
    line-height: 48px;
}


 .how-cont {
    padding-left: 140px;
    text-align: left;
} 


.when-cont {
    padding-left: 100px;
    text-align: left;
}


.map {
    /* margin-top: 35px;
    margin-bottom: 35px;*/
    margin-left: 138px; 
    width: 535px;
    height: 487px;
}


.w-list {
margin: 0px;
width: inherit;
height: 550px;
display: flex;
direction: rtl;
padding: 0px;
}

/*Footer*/

footer {
    width: 1335px;
    height: 350px;
    background-color: var(--background-color);
}


.f-list {
    display: flex;
    flex-direction: row;
    margin-left: 120px;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}


.f-cont {
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    justify-content: end;
}


footer h2 {
    margin: 0px;
    font-family: Inter;
    font-size: 40px;
    font-weight: 200;
    line-height: 48px;
}


.f-cont p {
    padding-top: 15px;
    padding-left: 12px;
    margin: 0px;
    font-size: 20px;
    font-weight: 300;
    line-height: 24px;
}


.f-item:nth-child(2) {
    margin-left: 85px;
}


.f-item:nth-child(n+3) {
    margin-left: 140px;
}


.exp {
    font-family: 'Inter';
    font-size: 24px;
    font-weight: 300;
    line-height: 29px;
    margin: 0px;
}


.script-tag {
    display: flex;
    justify-content: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 100;
    line-height: 24px;
    margin-bottom: 45px;
    margin-top: 136px;
    color: rgba(255, 255, 255, 0.34)
}